<div id="div-forms">
    <!-- Login Form -->
    <form [formGroup]="loginForm" id="login-form" (submit)="onSubmitLogin()">
        <div class="modal-body">
            <div id="div-login-msg" class="text-center">
                <span id="text-login-msg">.TYPE YOUR EMAIL AND PASSWORD.</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                    </div>
                    <input type="text" formControlName="email" class="form-control" 
                        [ngClass]="{ 'is-invalid': loginSubmitted && f.email.errors }" placeholder="Email" />
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" autocomplete="password" formControlName="password" class="form-control" 
                        [ngClass]="{ 'is-invalid': loginSubmitted && f.password.errors }" placeholder="Password" />
                </div>
                <div *ngIf="error" class="alert alert-danger">{{ error | uppercase }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnLogin" class="btn btn-primary btn-lg btn-block mr-auto">
                <strong>LOGIN <i class="fas fa-arrow-left"></i></strong>
            </button>
            <button id="login_recoverpass_btn" type="button" class="btn btn-link">LOST PASSWORD?</button>
            <button id="login_register_btn" type="button" class="btn btn-link">REGISTER</button>
        </div>
    </form>
    <!-- Recover-Password Form -->
    <form [formGroup]="recoverPassForm" id="recoverpass-form" (submit)="onSubmitRecoverPass()" style="display:none">
        <div class="modal-body">
            <div id="div-recoverpass-msg" class="text-center">
                <span id="text-recoverpass-msg">.RECOVER YOUR PASSWORD.</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                    </div>
                    <input type="email" formControlName="emailToRecoverPass" class="form-control" 
                        [ngClass]="{ 'is-invalid': recoverPassSubmitted && p.emailToRecoverPass.errors }" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnLost" class="btn btn-primary btn-lg btn-block">
                <strong>SEND <i class="fas fa-arrow-right"></i></strong>
            </button>
            <button id="recoverpass_login_btn" type="button" class="btn btn-link">LOGIN</button>
            <button id="recoverpass_register_btn" type="button" class="btn btn-link">REGISTER</button>
        </div>
    </form>
    <!-- Register Form -->
    <form [formGroup]="registerForm" id="register-form" (submit)="onSubmitRegister()" style="display:none">
        <div class="modal-body">
            <div id="div-login-msg" class="text-center">
                <span id="text-login-msg">.CREATE YOUR ACCOUNT.</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                    </div>
                    <input type="email" formControlName="emailToRegister" class="form-control" 
                        [ngClass]="{ 'is-invalid': registerSubmitted && r.emailToRegister.errors }" placeholder="Email" />
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" autocomplete="passwordToRegister" formControlName="passwordToRegister" class="form-control" 
                        [ngClass]="{ 'is-invalid': registerSubmitted && r.passwordToRegister.errors }" placeholder="Password" />
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-book-dead"></i></span>
                    </div>
                    <input type="text" formControlName="username" class="form-control" 
                        [ngClass]="{ 'is-invalid': registerSubmitted && r.username.errors }" placeholder="Username" />
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                    </div>
                    <input type="text" formControlName="firstname" class="form-control" 
                        [ngClass]="{ 'is-invalid': registerSubmitted && r.firstname.errors }" placeholder="Firstname" />
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                    </div>
                    <input type="text" formControlName="lastname" class="form-control" 
                        [ngClass]="{ 'is-invalid': registerSubmitted && r.lastname.errors }" placeholder="Lastname" />
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-hat-wizard"></i></span>
                    </div>
                    <select formControlName="category" class="form-control" id="register_category" 
                        [ngClass]="{ 'is-invalid': registerSubmitted && r.category.errors }"required>
                        <option value="" disabled>Choose your category</option>
                        <option *ngFor="let category of categories">
                            {{ category }}
                        </option>
                    </select>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{ error | uppercase }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnRegister" class="btn btn-primary btn-lg btn-block mr-auto">
                <strong>REGISTER <i class="fas fa-arrow-left"></i></strong>
            </button>
            <button id="register_recoverpass_btn" type="button" class="btn btn-link">LOST PASSWORD?</button>
            <button id="register_login_btn" type="button" class="btn btn-link">LOGIN</button>
        </div>
    </form>
</div>