<br><br>
<div class="div-nav"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top rounded">
  <span class="navbar-brand white-font"><img src="assets/images/la.png" class="img-la"> {{ title }}</span>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto text-center">

      <li class="nav-item">
        <a class="nav-link txt-size" routerLink="/home" routerLinkActive="is-hover">
          HOME <i class="fas fa-rocket"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-size" routerLink="/galleries" routerLinkActive="is-hover">
          GALLERIES <i class="fas fa-images"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-size" routerLink="/duels" routerLinkActive="is-hover">
          DUELS <i class="fas fa-skull-crossbones"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-size" routerLink="/rankings" routerLinkActive="is-hover">
          RANKINGS <i class="fas fa-chart-line"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link txt-size" routerLink="/chats" routerLinkActive="is-hover">
          CHATS <i class="far fa-comments"></i>
        </a>
      </li>

      <li *ngIf="navbarService.visible" class="nav-item">
        <button id="btnProfile" class="txt-size btn btn-info d-sm-none d-xs-none d-none d-lg-block m-left-10" 
          routerLink="/profile" routerLinkActive="is-hover">
          PROFILE <i class="fas fa-user-astronaut"></i>
        </button>
        <button id="btnProfile" class="txt-size btn btn-info form-control d-xl-none d-lg-none m-left-10" 
          routerLink="/profile" routerLinkActive="is-hover">
          PROFILE <i class="fas fa-user-astronaut"></i>
        </button>
      </li>

      <li *ngIf="!navbarService.visible" class="nav-item">
        <a class="nav-link btn btn-primary btn-login" role="button" data-toggle="modal" data-target="#login-modal">
          <strong>LOGIN</strong>&nbsp;<i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
      <li *ngIf="navbarService.visible" class="nav-item">
        <a (click)="logout()" class="nav-link btn btn-primary btn-login" role="button">
          <strong>LOGOUT</strong>&nbsp;<i class="fas fa-sign-out-alt"></i>
        </a>
      </li>

    </ul>
  </div>
</nav>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <div class="row">
              <button type="button" class="close m-right-3" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row">
              <img id="img_logo" src="assets/images/lvl-art.png" class="animated jello mx-auto d-block">
          </div>
        </div>
      </div>
      <app-login-form></app-login-form>
    </div>
  </div>
</div>